* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    height: 100vh;
    background: url(/img/background.jpg) no-repeat;
    background-position: center;
}

header {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    box-shadow: 0 5px 10px;
}

header .logo {
    color: black;
    font-size: 20px;
    font-weight: 900;   
    transition: .5s; 
}

header .logo:hover {
    transform: scale(1.2);
}

header nav ul li {
    position: relative;
    float: left;
}

nav ul li a {
    color: #00bfff;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

nav ul li a:after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: black; 
    transition: width 0.5s; 
}

nav ul li a:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px; 
    background-color: red; 
    transition: width 0.5s;  
}

header nav ul li a {
    padding: 15px;
    font-size: 18px;
    color: black;
    display: block;
}

nav ul li ul {
    position: absolute;
    left: 0;
    width: 180px;
    background: white;
    display: none;
}

nav ul li ul li {
    width: 100%;
}

nav ul li ul li ul {
    top: 0;
    left: 180px;
}

nav ul li:hover > ul {
    display: initial;
    transition: .5s; 
}

.the-search-field:after {content:""; clear:both; display:table}
.the-search-field form {
  width: auto;
  float: right;
  margin-right: -30px;
}
.the-search-field input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: white;
  outline: none;
  position: relative;
  transition: .3s linear;
}
.the-search-field input:focus {
  width: 300px;
}
.the-search-field button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: 4px;
  right: 160px;
}

.the-search-field button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}